/*CSS*/
body {
    background: #adb5bd;
  }
  h1 {
    color:#212529;
    font-family: 'Lato', sans-serif;
  }
button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}